/node_modules
/public/
/vendor
/app
/storage
/database
/config
/resources
/routes
/bootstrap
.editorconfig
/.idea
.env.example
.styleci.yml
artisan
server.php
weback.mix.js
yarn.lock
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
